<div class="sidebar">
  <div class="container sidebar-sticky">

    <!-- Add a picture to the sidebar -->
    <div class="sidebar-logo" >
      <img src="{{ '/static/sphere_square.png'|url }}"/>
    </div>
    
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          Spencer K. Clark
        </a>
      </h1>
      <p class="lead">Ph.D. Student</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if this._path == '/' %}active{% endif %}"
      href="{{ '/'|url }}">Home</a>

      {% for href, title in [
      ['/cv', 'CV'],
      ['/projects', 'Projects'],
      ['/blog', 'Blog'],
      ] %}
        <a class="sidebar-nav-item{% if this.is_child_of(href)%} active{% endif
                  %}"
           href="{{  href|url }}">{{ title }}</a>
        {% endfor %}
    </nav>
    <p><a href="https://github.com/spencerkclark"><i class="fab fa-github fa-2x"></i></a></p>
  </div>
</div>
