name: "deploy"

on:
  pull_request:
  push:
    branches:
    - 'main'

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2
      - name: Setup conda
        uses: s-weigand/setup-conda@v1
        with:
          activate-conda: false
          conda-channels: conda-forge
          python-version: '3.10'
      - name: Install dependencies
        run: |
          conda env create --file ci/environment-py310.yml
      - name: Environment information
        run: |
          source activate deploy_env
          conda info --all
          conda list
      - name: Build site
        run: |
          source activate deploy_env
          lektor build
      - name: Deploy
        if: ${{ github.event_name == 'push' }}
        run: |
          source activate deploy_env
          lektor deploy ghpages
        env:
          LEKTOR_DEPLOY_USERNAME: spencerkclark
          LEKTOR_DEPLOY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
